
<div class="container">
  <div class="form">

  <div class="header">
    <h2>Form</h2>
  </div>
  <br>
  <form [formGroup]="form">
    <div class="row">
      <div class="col">
        <span>First Name</span>
        <input type="text" id="txtFName" formControlName="firstName" class="form-control">
      </div>
      <div class="col">
        <span>Last Name</span>
        <input type="text" id="txtLName" formControlName="lastName"  class="form-control">
      </div>
      <br>

    </div>
    <br>
    <div class="row">
      <span>DOB</span>
      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group" style="    width: 51%;
        ">
          <input type="text" id="txtDate" formControlName="dob"  class="form-control" bsDatepicker [bsValue]="bsValue"
            [(ngModel)]="bsRangeValue" [datesEnabled]="enabledDates" [bsConfig]="{ isAnimated: true }"
            [bsConfig]="{ isAnimated: true }">
        </div>
      </div>
    </div>
    <br>
    <div class="row">

      <div class="form-group">
        <span>City</span>
        <section class="wrapper">

          <select formControlName="website"  id="selCity" class="form-control">
            <option disabled></option>
            <option *ngFor="let web of websiteList">{{web}}</option>
          </select>
        </section>
      </div>
    </div>
    <button type="button" class="btn btn-secondary" (click)="getLatLOng()">Download</button>

  </form>
</div>

</div>